@import "../../style/index";

.reactSelect {
   display: flex;
   -webkit-border-radius: 2px;
   background: url('./img/select-bg.png') center right no-repeat;
   background-size: 40px 40px;
   display: block;
   width: 100%;
   height: calc(1.5em + .75rem + 2px);
   padding: .375rem .75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #2a2635;
   border-radius: 2px;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   p{
     margin-bottom: 0;
   }
   a{
     text-align: left;
   }
   div:last-child:not(:first-child) {
    width: 100%;
    margin-left: -13px;
   }

}

.reactSelectToggle {
  display: flex;

}

.reactSelectToggle::after {
  display: none;
}

.faq {
  text-align: left;
  padding: 60px 0 100px 0;
  min-height: calc(100vh - 132px);

  .content {
    padding: 0 25px 70px 35px;
    box-sizing: border-box;
  }
}

.header {
  background: $claim-bg;
  padding: 17px;
  img {
    width: 166px;
  }
  span {
    color: #fff;
    font-size: 14px;
    margin-left: 14px;
  }
  a {
    text-decoration: none;
  }
  .headerInner{
    display: flex;
    justify-content: space-between;
  }

}

.changeLngMobil {
  display: none;
}

.claim {
  background: $claim-bg;
  min-height: calc(100vh - 48px);
  padding-bottom: 40px;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 98px);
  }
}

.claimBox {
  background: #fff;
  border-radius: 4px;
  color: $claim-text-main;
  padding: 70px 100px 20px 100px;
  font-size: 14px;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;

  &>div:not(.powerBy){
    flex: 1;
  }

  .powerBy {
    color: #CECED0;
    font-size: 14px;
    align-self: center;
    justify-content: flex-end;
  }

  .labelIcon {
    width: 20px;
    height: 20px;
    margin: 0 8px;
    cursor: pointer;
  }

  select {
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    background: url('./img/select-bg.png') center right no-repeat;
    background-size: 40px 40px;
  }

  .dotsOpen {
    flex: 1;
    background: url("./img/line-open.png") bottom center no-repeat;
    background-size: 85px 4px;
    margin: 0 20px;
    height: 34px
  }

  .dotsClose {
    flex: 1;
    background: url("./img/line-close.png") bottom center no-repeat;
    background-size: 85px 4px;
    margin: 0 20px;
    height: 34px
  }

  .stepBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ECECEE;
    .stepBoxItem {
      text-align: center;
      img {
        width: 60px;
        height: 60px;
      }
      p {
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
  }

  .stepResultBox {
    padding: 0 48px;
  }

  .formBox {
    padding-top: 30px;
  }

  .buttonBox {
    display: flex;
    justify-content: space-between;
    button {
      flex: 1;
    }

    button + button {
      margin-left: 20px;
    }
  }

  .hashBox {
    word-break: break-word;
  }

  .depositItem {
    color: #95939B;
  }

  .connectAccountBox {
    padding-bottom: 15px;

    h1 {
      font-size: 14px;
      font-weight: normal;
      span {
        position: relative;
        top: 2px;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
    }
    p {
      font-size: 15px;
      letter-spacing: 1px;
      color: $claim-color;
      word-break: break-all;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  .connectInfoBox {
    background: #F5F4F7;
    padding: 20px;
    border-radius: 4px;
    h1 {
      font-size: 14px;
      font-weight: normal;
      span {
        position: relative;
        top: 2px;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
    }
    p {
      font-size: 15px;
      letter-spacing: 1px;
      color: $claim-color;
      word-break: break-all;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.infoBox {
  text-align: center;
  padding-left: 100px;

  .promoteLogo {
    display: block;
    width: 305px;
    margin-bottom: 50px;
  }
  a {
    padding: 0.375rem 1rem;
  }
}

.historyEmpty {
  background-color: #F4F4F5;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-bottom: 40px;
  p{
    font-size: 14px;
    color: $crosschain-text-normal;
    text-align: center;
    margin-bottom: 0;
  }
}

.historyItem {
  background-color: #F4F4F5;
  padding: 20px;
  margin-bottom: 4rem;
  >div{
    display: flex;
    justify-content: space-between;
    h3{
      font-size: 14px;
      color: $crosschain-text-normal;
      font-weight: normal;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 150px;
    }
    p{
      word-break: break-all;
      color: $crosschain-text-main;
      margin-bottom: 10px;
    }
  }
  .line{
    height: 1px;
    background-color: #E0DFE2;
    margin: 10px 0;
  }
}

.feeTip {
  margin-top: 10px;
  margin-bottom: 3rem;
  font-size: 14px;
  text-align: right;
}

.transferProgress {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEF;
  padding-top: 18px;
  padding-bottom: 14px;
  .Inactive {
    color: #999999;
    p{
      color: #999999;
    }
    &::after{
      background-color: #999999!important;
    }
  }
  .iconBox, .titleBox{
    display: flex;
    &>div{
      flex: 1;
      text-align: center;
    }
  }

  .iconBox{
    margin-bottom: 14px;
    img {
      width: 33px;
      height: 33px;
    }
    &>div{
      position: relative;
    }
  }

  .iconBox>div:not(:last-child)::after{
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: $crosschain-text-main;
    top: 16.5px;
    right: 0;
    margin-right: -30px;
  }

  .titleBox {
    p{
      word-break: break-word;
    }
    .hashBtn{
      padding: 0.1rem 0.5rem;
    }
  }
}

.guideBox{
  position: relative;
  width: 230px;
  height: 600px;
  margin-left: 170px;
}

.stepRoadMap {
  h3{
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
  }
  // img{
  //   width: 20px;
  //   height: 20px;
  //   cursor: pointer;
  //   margin-left: 10px;
  // }
  .stepRoadMapItem {
    margin-bottom: 8px;
    div{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      flex-wrap: wrap;
      p{
        color: $crosschain-text-main;
        font-size: 16px;
        margin-bottom: 0;
        word-break: break-all;
        display: flex;
        justify-content: center;
        align-items: center;
          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
          span {
            position: relative;
            top: 2px;
          }
      }
      p:first-child{
        font-weight: bold;
      }
    }
    p{
      color: $crosschain-text-main;
      font-size: 14px;
    }
  }

  .stepRoadMapItemDone {
    div {
      p {
        color: $crosschain-text-disabled;
      }
    }

    p {
      color: $crosschain-text-disabled;
    }
  }
}


@media (max-width: 1200px) {
  .claim {
    .content {
      padding: 0 25px 50px 35px;
    }
  }

  .claimBox {
    padding: 50px 20px;
  }
}

@media (max-width: 991px) {
  .claimBox {
    padding: 20px;
    .stepBox {
      .stepBoxItem {
        text-align: center;
        img {
          width: 42px;
          height: 42px;
        }
        p {
          margin-top: 10px;
          margin-bottom: 30px;
          font-size: 12px;
        }
      }
    }
    .dotsOpen {
      margin: 0 10px;
      height: 25px
    }

    .dotsClose {
      margin: 0 10px;
      height: 25px
    }
  }

  .infoBox {
    text-align: center;
    padding-left: 70px;
    position: relative;
    .promoteLogo {
      width: 200px;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 769px) {
  .claim {
    .content {
      padding: 0 25px 50px 35px;
    }
    & > div {
      flex-direction: column-reverse;
    }
  }

  .claimBox {
    padding: 20px;
  }

  .infoBox {
    text-align: center;
    padding-left: 0px;
    background: url("./img/mobile-bg.png") top center no-repeat;
    background-size: 90% auto;
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 28px;
    .promoteLogo {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .header {
    display: none;
  }


  .claim {
    padding-bottom: 0;
    .content {
      padding: 0 25px 50px 35px;
    }
    & > div {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column-reverse;
    }
  }

  .claimBox {
    padding: 20px;
    border-radius: 0;
  }

  .infoBox {
    text-align: center;
    padding-left: 0px;
    background: url("./img/mobile-bg.png") top center no-repeat;
    background-size: 105% auto;
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 28px;
    .promoteLogo {

      display: none;
    }
  }


  .transferProgress {
    .iconBox>div:not(:last-child)::after{
      width: 40px;
      margin-right: -20px;
    }
  }
}
