@import "../../style/index";

.faq {
  text-align: left;
  padding: 60px 0 100px 0;
  min-height: calc(100vh - 132px);

  .content {
    padding: 0 25px 70px 35px;
    box-sizing: border-box;
  }
}

.wrapperBox {
  background-color: #201B36;
}

.container{
  svg {
    position: relative;
  }
}

.header {
  background: transparent;
  padding: 14px;
  z-index: 10;
    position: relative;
  // position: absolute;
  // z-index: 10;
  // width: 100%;
  border-bottom: 1px solid #4C485E;
  img {
    width: 166px;
  }
  span {
    color: #fff;
    font-size: 14px;
    margin-left: 14px;
  }
  a {
    text-decoration: none;
  }
  .headerInner{
    display: flex;
    justify-content: space-between;
  }

}

.changeLng{
  color: #000;
  padding: 2px 10px;
  border-radius: 12px;
  font-size: 14px;
  background: #fff;
  border: 1px solid white;
}

a.changeLng:hover, a.changeLng:active {
  color: #000;
}

.changeLngMobil {
  display: none;
}

.claim {
  background: $claim-bg;
  min-height: calc(100vh - 48px);
  padding-bottom: 40px;
  // padding-top: 20px;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 98px);
  }
  
  .claimBox, .guideBox{
    margin-top: 20px;
  }
}

.claimBox {
  background: #fff;
  border-radius: 4px;
  color: $claim-text-main;
  padding-bottom: 20px;
  font-size: 14px;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  &>div:not(.powerBy){
    flex: 1;
  }

  .powerBy {
    color: #CECED0;
    font-size: 14px;
    align-self: center;
    justify-content: flex-end;
  }

  .labelIcon {
    width: 20px;
    height: 20px;
    margin: 0 8px;
    cursor: pointer;
  }

  select {
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    background: url('./img/select-bg.png') center right no-repeat;
    background-size: 40px 40px;
  }

  .dotsOpen {
    flex: 1;
    background: url("./img/line-open.png") bottom center no-repeat;
    background-size: 85px 4px;
    margin: 0 20px;
    height: 34px
  }

  .dotsClose {
    flex: 1;
    background: url("./img/line-close.png") bottom center no-repeat;
    background-size: 85px 4px;
    margin: 0 20px;
    height: 34px
  }

  .stepBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ECECEE;
    .stepBoxItem {
      text-align: center;
      img {
        width: 60px;
        height: 60px;
      }
      p {
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
  }

  .stepResultBox {
    padding: 0 48px;
  }

  .formBox {
    padding: 30px 0;
  }

  .buttonBox {
    display: flex;
    justify-content: space-between;
    button {
      flex: 1;
    }

    button + button {
      margin-left: 20px;
    }
  }

  .signatureBox {
    textarea {
      font-size: 14px;
      min-height: 140px;
    }

  }

  .connectInfoBox {
    background: #F5F4F7;
    padding: 20px;
    h1 {
      font-size: 14px;
      font-weight: normal;
      span {
        position: relative;
        top: 2px;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
    }
    p {
      font-size: 15px;
      letter-spacing: 1px;
      color: $claim-color;
      word-break: break-all;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  .helpBall {
    img {
      width: 54px;
      height: 54px;
      position: absolute;
      bottom: 0;
      right: -85px;  
    }
  }
}

.infoBox {
  text-align: center;
  padding-left: 100px;
  display: none;
  padding-bottom: 15px;
  .promoteLogo {
    display: block;
    width: 305px;
    margin-bottom: 50px;
  }
  a {
    padding: 0.375rem 1rem;
    // margin-bottom: 15px;
  }
}



$marginX: 0.1;
$ball1Bg: linear-gradient(320deg,rgba(254,56,118,1) 0%,rgba(124,48,221,1) 71%,rgba(58,48,221,1) 100%);
$ballBtnBg: linear-gradient(270deg,rgba(254,56,118,1) 0%,rgba(124,48,221,1) 71%,rgba(58,48,221,1) 100%);
$ballBtnWidth: 110px;
$chains: ethereum, crab, tron, darwinia, kusama, polkadot, acala;

@keyframes shandowScale {
  0% {
      transform: translate3d(0,0,0) scale(1.02);
  }
  100% {
      transform: translate3d(0,0,0) scale(1);
  }
}

@mixin subBall($width, $top, $left, $bg) {
  width: $width;
  height: $width;
  border-radius: $width / 2;
  top: $top;
  left: $left;
  z-index: 10;
  position: absolute;
  background: $bg;
}

@mixin ball($width, $top, $left, $bg, $chain, $notAbsolute: false) {
  width: $width;
  height: $width;
  border-radius: $width / 2;
  
  z-index: 10;
  cursor: pointer;
  @if $notAbsolute{

  } @else {
    top: $top;
    left: $left;
    position: absolute;
  }
  
  // background: $bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition:all .4s;
  color: #fff;
  box-shadow: 0 0 35px 0 rgba(255,255,255,0.29), inset 0 0 6px 0 rgba(255,255,255,0.24);
  // background: url('./img/chain-logo/#{$chain}-bg.svg') no-repeat center center;
  // background-size: cover;
}

@mixin ballShadow($width, $top, $left, $bg) {
  width: $width * (1 + $marginX);
  height: $width * (1 + $marginX);
  border-radius: $width * (1 + $marginX) / 2;
  top: calc(#{$top} - #{$width * $marginX / 2});
  left: calc(#{$left} - #{$width * $marginX / 2});
  z-index: 1;
  position: absolute;
  opacity: 0.2;
  background: $bg;
}

@mixin ballBtn($width, $top, $left) {
  top: calc(#{$top} + #{$width} + #{$width * $marginX / 2} + 20px);
  left: calc(#{$left} + #{$width  / 2} - #{$ballBtnWidth / 2});
  position: absolute;
  width: $ballBtnWidth;
  color: #fff;
  text-align: center;
  border-radius:2px;
  background: $ballBtnBg;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 7px;
  cursor: pointer;
  z-index: 20;
  border-radius: 18px;
}

@each $chain in $chains {
  .ballbg-#{$chain} {
    background: url('./img/chain-logo/#{$chain}-bg.svg') no-repeat center center;
    background-size: cover;
  }
}
.ballBox {
  min-height: calc(100vh - 53px);
  // min-height: 100vh;
  // box-sizing: content-box;
  // padding-top: 58px;
  background-color: #201B36;
  position: relative;

  .ballIsBg {
    background: #201B36!important;
    box-shadow: none!important;
    transform: none!important;
  }

  // .scaleBox>.ballInstant:hover {
  //   transform: none!important;
  // }

  .scaleBox .ballInstant:hover {
    // position: absolute;
    // animation: shandowScale 1.5s infinite ease-in;
    transform:scale(1.05);
  }

  .scaleBox {
    p{
      font-size: 20px;
      text-shadow:0px 0px 12px rgba(255,255,255,0.62);
      text-transform: capitalize;
    }
  }

  .disableBall {
    opacity: 0.2;
  }
  .disableBallShadow {
    opacity: 0.04;
  }

  .ballIcon {
    width: 30%;
  }

  p{
    margin-bottom: 0;
  }

  .subBall1 {
    @include subBall(7vmin, 4vh, 4vw, $ball1Bg);
    background: url('./img/sub1.svg');
    background-size: cover;
  }

  .subBall2 {
    @include subBall(6vmin, 75vh, 7vw, $ball1Bg);
    background: url('./img/sub2.svg');
    background-size: cover;
  }

  .subBall3 {
    @include subBall(2vmin, 74vh, 12vw, $ball1Bg);
    background: url('./img/sub3.svg');
    background-size: cover;
  }

  .subBall4 {
    @include subBall(5vmin, 79vh, 65vw, $ball1Bg);
    background: url('./img/sub4.svg');
    background-size: cover;
  }

  .subBall5Box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25vmin;
    height: 25vmin;
    overflow: hidden;
  }

  .subBall5 {
    @include subBall(25vmin, 10vmin, 10vmin, $ball1Bg);
  }

  .ball1{
    @include ball(20vmin, 10vh, 12.5vw, $ball1Bg, 'ethereum');
  }

  // .ball1Shadow{
  //   @include ballShadow(20vmin, 10vh, 12.5vw, $ball1Bg);
  // }
  // .ball1:hover{
  //   animation: shandowScale 0.5s;
  // }
  // .ball1Shadow:hover{
  //   animation: shandowScale 0.5s;
  // }
  .ball1Btn{
    @include ballBtn(20vmin, 10vh, 12.5vw);
  }


  .ball2Btn{
    @include ballBtn(17vmin,50vh, 15.6vw)
  }

  .ball2{
    @include ball(17vmin, 50vh, 15.6vw, $ball1Bg, 'crab');
  }
  // .ball2Shadow{
  //   @include ballShadow(17vmin, 50vh, 15.6vw, $ball1Bg);
  // }

  .ball3Btn{
    @include ballBtn(24vmin,15.5vh, 38vw)
  }
  
  .ball3{
    @include ball(24vmin, 15.5vh, 38vw, $ball1Bg, 'darwinia');
  }
  // .ball3Shadow{
  //   @include ballShadow(24vmin, 15.5vh, 38vw, $ball1Bg);
  // }

  .ball4{
    // background: url('./img/chain-logo/tron-bg.svg') no-repeat center center;
    @include ball(17vmin, 64vh, 40vw, $ball1Bg, 'tron');
  }
  // .ball4Shadow{
  //   @include ballShadow(17vmin, 64vh, 40vw, $ball1Bg);
  // }
  .ball4Btn{
    @include ballBtn(17vmin, 64vh, 40vw)
  }

  .ball5{
    // background: url('./img/chain-logo/polkadot-bg.svg') no-repeat center center;
    @include ball(19vmin, 11vh, 63vw, $ball1Bg, 'polkadot');
  }
  // .ball5Shadow{
  //   @include ballShadow(19vmin, 11vh, 63vw, $ball1Bg);
  // }
  .ball5Btn{
    @include ballBtn(19vmin, 11vh, 63vw)
  }


  .ball6{
    // background: url('./img/chain-logo/kusama-bg.svg') no-repeat center center;
    @include ball(17vmin, 52vh, 64vw, $ball1Bg, 'kusama');
  }
  // .ball6Shadow{
  //   @include ballShadow(17vmin, 52vh, 64vw, $ball1Bg);
  // }
  .ball6Btn{
    @include ballBtn(17vmin, 52vh, 64vw)
  }

  .ball7{
    // background: url('./img/chain-logo/acala-bg.svg') no-repeat center center;
    @include ball(15vmin, 31vh, 80vw, $ball1Bg, 'acala');
  }

  // .ball7Shadow{
  //   @include ballShadow(15vmin, 31vh, 80vw, $ball1Bg);
  // }

  .ball7Btn{
    @include ballBtn(15vmin, 31vh, 80vw)
  }

  .disableBtn {
    background: none!important;
    margin-top: -12px;
  }

  .powerLine {
    font-size: 14px;
    color: #fff;
    opacity: 0.3;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    letter-spacing:20px;
    z-index: 10;
  }
  .powerLine::before {
    content: " ";
    position: absolute;
    height: 1px;
    right: 0;
    top: -13px;
    left: 40%;
    width: 20%;
    background-color: #E9E9E9;
    // border: 1px solid lightgray;
  }
}

.guideBox{
  position: relative;
  width: 230px;
  height: 600px;
  margin-left: 170px;
  display: flex;
  >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
  .ballIcon {
    width: 30%;
  }
  p{
    margin-bottom: 0;
    font-size: 18px;
    margin-top: 8px;
  }
  .arrow {
    width: 25px;
  }
}

.ballFrom{
  @include ball(190px, 50px, 10px, $ball1Bg, 'ethereum', true);
}
// .ballFromShadow{
//   @include ballShadow(190px, 50px, 10px, $ball1Bg);
// }

.ballTo{
  @include ball(190px, 400px, 10px, $ball1Bg, 'ethereum', true);
}
// .ballToShadow{
//   @include ballShadow(190px, 400px, 10px, $ball1Bg);
// }

@keyframes nebula-float-1 {
  0%, 100% {
    filter:blur(39px);
  }
  50% {
    filter:blur(30px);
  }
}

@keyframes nebula-float-2 {
  0%, 100% {
    filter:blur(39px);
    background:linear-gradient(270deg,rgba(254,56,118,1) 0%,rgba(124,48,221,1) 71%,rgba(58,48,221,1) 100%);

  }
  50% {
    filter:blur(25px);
    background:linear-gradient(270deg,rgba(254,56,118,1) 0%,rgba(124,48,221,1) 50%,rgba(58,48,221,1) 100%);
  }
}

.nebula1 {
  width:25vw;
  height:25vh;
  background:linear-gradient(270deg,rgba(254,56,118,1) 0%,rgba(124,48,221,1) 71%,rgba(58,48,221,1) 100%);
  opacity:0.5;
  filter:blur(39px);
  left: 0vw;
  bottom: 0;
  position: absolute;
  animation: nebula-float-1 8s ease-out infinite;
  z-index: 6;
}

.nebula2 {
  width:18vw;
  height:18vh;
  background:linear-gradient(270deg,rgba(254,56,118,1) 0%,rgba(124,48,221,1) 71%,rgba(58,48,221,1) 100%);
  opacity:0.5;
  top: 0;
  right: 0vw;
  position: absolute;
  animation: nebula-float-2 8s ease-out infinite;
  z-index: 6;
}

.stepRoadMap {
  h3{
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  .stepRoadMapItem {
    div{
      display: flex;
      justify-content: space-between;
      
      p{
        color: $crosschain-text-main;
        font-size: 16px;
        margin-bottom: 0;
      }
      p:first-child{
        font-weight: bold;
      }
    }
    p{
      color: $crosschain-text-normal;
      font-size: 14px;
    }
  }
}


@media (max-width: 1200px) {
  .claim {
    .content {
      padding: 0 25px 50px 35px;
    }
  }

  .claimBox {
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .claimBox {
    padding-bottom: 20px;
    .stepBox {
      .stepBoxItem {
        text-align: center;
        img {
          width: 42px;
          height: 42px;
        }
        p {
          margin-top: 10px;
          margin-bottom: 30px;
          font-size: 12px;
        }
      }
    }
    .dotsOpen {
      margin: 0 10px;
      height: 25px
    }

    .dotsClose {
      margin: 0 10px;
      height: 25px
    }
  }

  .infoBox {
    text-align: center;
    padding-left: 70px;
    position: relative;
    .promoteLogo {
      width: 200px;
      margin-bottom: 50px;
    }
  }

  .guideBox{
    position: relative;
    width: 163px;
    height: 600px;
    margin-left: 70px;
  }
}

@media (max-width: 769px) {
  .claim {
    .content {
      padding: 0 25px 50px 35px;
    }
    & > div {
      flex-direction: column-reverse;
    }

    .guideBox{
      display: none;
    }
    .claimBox {
      padding-bottom: 20px;
      margin-top: 0;
      .helpBall {
        img {
          right: 15px;
          bottom: 15px;
          width: 30px;
          height: 30px;
        }
      }
    }

  }
 

  .infoBox {
    text-align: center;
    padding-left: 0px;
    background: url("./img/mobile-bg.png") top center no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .promoteLogo {
      display: none;
    }
  }
}

@media (max-width: 575px) {
  .header {
    // display: none;
    span{
      display: none;
    }
  }

  .ballBox{

    .ball3Btn{
      @include ballBtn(24vmin,28vh, 38vw)
    }
    
    .ball3{
      // background: url('./img/chain-logo/darwinia-bg.svg') no-repeat center center;
      @include ball(24vmin, 28vh, 38vw, $ball1Bg, 'ethereum');
    }

    .powerLine {
      font-size: 14px;
      color: #fff;
      opacity: 0.3;
      text-align: center;
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
      letter-spacing:2px;
      z-index: 10;
    }
    .scaleBox {
      p{
        font-size: 13px;
        text-shadow:0px 0px 12px rgba(255,255,255,0.62);
        text-transform: capitalize;
      }
    }
  }  
  .claim {
    padding-bottom: 0;
    .content {
      padding: 0 25px 50px 35px;
    }
    & > div {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column-reverse;
    }

    .changeLngMobil {
      padding: 2px 10px;
      position: absolute;
      top: 20px;
      right: 20px;
      display: block;
      text-decoration: none;
    }

    a.changeLngMobil:hover, a.changeLngMobil:active {
      color: #201B36;
    }
  }

  .claimBox {
    padding-bottom: 20px;
    border-radius: 0;
  }

  .infoBox {
    text-align: center;
    padding-left: 0px;
    background: url("./img/mobile-bg.png") top center no-repeat;
    background-size: auto 100%;
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 28px;
    .promoteLogo {

      display: none;
    }
  }
}
