$text-main: #201550;
$text-fff: #fff;
$text-second: #4855A1;
$text-footer: #fff;

$bg-page: #fff;
$bg-footer: #000;


$nav-link-padding-y: .5rem;
$nav-link-padding-x: 1.0rem;



$claim-bg: #201B36;
$claim-text-main: #302B3C;
$claim-color: #4B30DD;

$crosschain-text-normal: #302B3C;
$crosschain-text-main: #4B30DD;
$crosschain-text-disabled: #97959D;

