$text-main: #201550;
$text-fff: #ffffff;
$text-second: #4855a1;
$text-footer: #ffffff;

$bg-page: #ffffff;
$bg-footer: #000000;

$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1rem;

$claim-bg: #201b36;
$claim-text-main: #302b3c;
$claim-color: #4b30dd;

$crosschain-text-normal: #302b3c;
$crosschain-text-main: #4b30dd;
$crosschain-text-disabled: #97959d;
